.header-image img{
    width: 100%;
}
.header{
    background-color: antiquewhite;
    padding-bottom: 50px;
}
.button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(180deg, rgb(53, 255, 114), rgb(137, 250, 114));
    padding: 15px 50px;
    border-radius: 5px;
}
.woman-image {
    background-color: lightgray;
    border-radius: 8px;
    width: 100%;
}
.woman-card{
    border: 0;
    background-color: white;
}
.cart-image img{
    width: 100%;
}